{% extends 'home.html' %}

{% block content %}
    <div class="container" style="max-width: 450px; margin-top: 200px;">
        <!-- Card Container for a more professional look -->
        <div class="card" style="border-radius: 10px; border: 1px solid #ddd; padding: 20px;">
            <h2 class="text-center mb-4" style="font-family: 'Roboto', sans-serif; color: var(--text-color);">Password Reset Email Sent</h2>

            <!-- Message Section -->
            <p style="font-size: 16px; color: var(--text-color);">If an account with the provided email exists, you will receive an email shortly with instructions on how to reset your password.</p>
            <p style="font-size: 16px; color: var(--text-color);">Please check your inbox and follow the link in the email to complete the password reset process.</p>


        </div>
    </div>

    <!-- Add custom styles -->
    <style>
        body {
            background-color: var(--primary-color);
        }
        .card {
            border-radius: 10px;
            border: 1px solid #ddd;
        }
        .btn-primary {
            background-color: #00796b;
            border: none;
            padding: 10px 20px;
            font-size: 1.1rem;
            border-radius: 50px;
            width: 100%;
        }
        .btn-primary:hover {
            background-color: green;
        }
    </style>
{% endblock %}
